<%- include ("partials/header") -%>
<div class="text-center container">
  <h1>gamerank</h1>
  <p>Welcome to gamerank!</p>
  <a href="/games">Click here to view all games</a>
</div>

<%- include ("partials/footer") -%>
