<!DOCTYPE html>
<html>

<head>
  <title>GameRank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
  <img src="https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="fadeImage">
  <div id="landingHeader">
    <h1 class="mb-4">Welcome to GameRank</h1>
    <a href="/games" class="btn btn-light shadow">View All Games</a>
  </div>

  <%- include ("partials/footer") %>
