<%- include("partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h1>Sign Up</h1>
    </div>
    <div class="my-3 mx-auto col-sm-4">
      <form action="/signup" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
          <button class="btn btn-info btn-block" type="submit">Sign up</button>
        </div>
      </form>
      <a href="/games">Go Back</a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
