body {
  background-color: black;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadeImage {
  z-index: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 4s;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 35vh;
}

#landing-header h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 300;
  text-shadow: 2px 4px 2px #000;
}

@media screen and (max-width: 425px) {
  #landing-header {
    padding-top: 32vh;
  }

  #landing-header h1 {
    font-size: 2.4em;
  }
}
