.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.topOfPageMargin {
  margin-top: 1em;
}

.jumbotron {
  background: url(https://images.unsplash.com/10/wii.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 35%;
  min-height: 300px;
}

div.container.text-light {
  text-shadow: 1px 2px 3px #000;
}


h2 {
  font-weight: 400;
}

.vCenterForm {
  padding-top: 14vh;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-btn {
  display: inline;
  padding-bottom: 1.3em;
}

.container {
  word-wrap: break-word;
}

div.container h1 {
  font-weight: 300;
  font-size: 55px;
}

.card-title {
  margin-bottom: 0;
  color: #000;
  font-weight: 400;
}

#fullCard:hover {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #viewMessage {
    box-shadow: 0px 0.05px 3px #000;
  }
}
