#viewContainer {
  margin-top: 4.4em;
}

h2 {
  font-weight: 400;
}

.vCenterForm {
  padding-top: 14vh;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-btn {
  display: inline;
  padding-bottom: 1.3em;
}

.container {
  word-wrap: break-word;
}

div.container h1 {
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 425px) {
  .jumbotron .container p {
    font-size: 1.1em;
  }
}
