<%- include ("../partials/header") %>
<div class="container topOfPageMargin">
  <div class="row">

    <div class="col"></div>

    <div class="col-sm-9 col-md-7 col-lg-6 p-3">
      <div class="mb-3 card shadow-md">
        <div class="card-body">
          <h2 class="text-center">Add a New Game</b></h2>

          <form action="/games" method="POST" autocomplete="off">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" type="text" name="name" placeholder="Pac-Man" required>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="4" type="text" name="desc" placeholder="Pac-Man is a maze arcade game developed and released by Namco in 1980."></textarea>
            </div>
            <div class="form-group">
              <label>Price</label>
              <input class="form-control" type="number" name="price" placeholder="0.00" min="0.01" step="0.01">
            </div>
            <div class="form-group">
              <label>Image</label>
              <input class="form-control" type="text" name="image" placeholder="https://images.unsplash.com/..." required>
            </div>
            <div class="form-group">
              <button class="btn btn-large btn-success btn-block">Submit</button>
            </div>
          </form>

          <a href="/games">Go back</a>
        </div>
      </div>
    </div>

    <div class="col"></div>

  </div>
</div>


<%- include ("../partials/footer") %>
